<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="images/logo_favicon/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="bower_components/animsition/dist/css/animsition.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="bower_components/alertifyjs/src/css/alertify.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
  </head>
  <body>
    <div class="limiter">
      <%- content %>
    </div>
    <!--===============================================================================================-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!--===============================================================================================-->
    <script src="bower_components/animsition/dist/js/animsition.js"></script>
    <!--===============================================================================================-->
    <script src="bower_components/popover/popover.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/alertifyjs/src/js/alertify.js"></script>
    <!--===============================================================================================-->
    <!-- <script src="js/authConfig.js"></script> -->
  </body>
</html>
